<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OutlookAlerter</string>
    <key>CFBundleDisplayName</key>
    <string>OutlookAlerter</string>
    <key>CFBundleIdentifier</key>
    <string>com.unhuman.outlookalerter</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>OutlookAlerter</string>
    <key>LSUIElement</key>
    <true/>

    <key>Java</key>
    <dict>
        <key>JVMOptions</key>
        <array>
            <string>-Djavax.net.ssl.trustStore=$APP_ROOT/Contents/Resources/truststore.jks</string>
            <string>-Djavax.net.ssl.trustStorePassword=changeit</string>
            <string>-Doutlookalerter.ssl.debug=true</string>
        </array>
    </dict>
</dict>
</plist>
